<mat-card>
  <mat-card-content>
    <div class="main-container">
      <h1 class="section-header">Projects</h1>
      <h3>Get to know me through my work by clicking on my projects or visiting my github to learn more.</h3>
      <br>
      <a mat-raised-button class="accent-button" href="https://github.com/tiffanyreyes?tab=repositories" target="_blank">GitHub</a>
    </div>
    <mat-tab-group class="project-tab">
      <mat-tab label="School">
        <div class="project-set">
          <div class="project">
              <h3 class="sub-header"><a href="https://tiffanyreyes.github.io/web-231/">WEB 231 Project Page</a>
              </h3>
              <p>An enterprise JavaScript assignment log containing many mini projects including a temperature calculator and card game. </p>
              <mat-chip-set class="chips" aria-label="Technologies used">
                <mat-chip>Python</mat-chip>
                <mat-chip>JavaScript</mat-chip>
                <mat-chip>HTML/CSS</mat-chip>
              </mat-chip-set>
          </div>
          <div class="project">
              <h3 class="sub-header"><a href="https://tiffanyreyes.github.io/web-330/">WEB 330 Project Page</a>
              </h3>
              <p>An enterprise JavaScript II assignment log containing menu selectors, calculators, and libraries while exploring more design capabilities like dark mode.</p>
              <mat-chip-set class="chips" aria-label="Technologies used">
                <mat-chip>JavaScript</mat-chip>
                <mat-chip>HTML/CSS</mat-chip>
                <mat-chip>Color Theme</mat-chip>
              </mat-chip-set>
          </div>
          <div class="project">
              <h3 class="sub-header"><a href="https://reyes-pets-r-us.onrender.com">Pets-R-Us</a></h3>
              <p>A pet based website project created through Express where given a client to then create a website based on their requirements.</p>
              <mat-chip-set class="chips" aria-label="Technologies used">
                <mat-chip>Express</mat-chip>
                <mat-chip>Design</mat-chip>
                <mat-chip>UX/UI</mat-chip>
              </mat-chip-set>
          </div>
          <div class="project">
              <h3 class="sub-header"><a href="https://reyes-web420-api.onrender.com">WEB 420 Capstone</a></h3>
              <p>A project implementing SwaggerUI documentation for NodeJS APIs.</p>
              <mat-chip-set class="chips" aria-label="Technologies used">
                <mat-chip>SwaggerUI</mat-chip>
                <mat-chip>NodeJS</mat-chip>
                <mat-chip>APIs</mat-chip>
              </mat-chip-set>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Angular">
        <div class="project-set">
          <div class="project">
              <h3 class="sub-header"><a href="https://tiffanyreyes.github.io/composer-app/">Composer App</a></h3>
              <p>An Angular application to list classical composers in library format.</p>
              <mat-chip-set class="chips" aria-label="Technologies used">
                <mat-chip>Angular</mat-chip>
                <mat-chip>Typescript</mat-chip>
                <mat-chip>JavaScript</mat-chip>
              </mat-chip-set>
          </div>
          <div class="project">
              <h3 class="sub-header"><a href="https://tiffanyreyes.github.io/gpa-calculator-app/">GPA Calculator</a></h3>
              <p>An Angular application to calculate a student's GPA based on their grades. Use 1007 for student ID</p>
              <mat-chip-set class="chips" aria-label="Technologies used">
                <mat-chip>Angular</mat-chip>
                <mat-chip>Typescript</mat-chip>
                <mat-chip>JavaScript</mat-chip>
              </mat-chip-set>
          </div>
          <div class="project">
              <h3 class="sub-header"><a href="https://tiffanyreyes.github.io/in-n-out-books/">In-N-Out-Books</a></h3>
              <p>An Angular application to showcase and add books to a wishlist.</p>
              <mat-chip-set class="chips" aria-label="Technologies used">
                <mat-chip>Angular</mat-chip>
                <mat-chip>Typescript</mat-chip>
                <mat-chip>JavaScript</mat-chip>
                <mat-chip>APIs</mat-chip>
              </mat-chip-set>
          </div>
          <div class="project">
              <h3 class="sub-header"><a href="https://tiffanyreyes.github.io/loan-app/">Loan App</a></h3>
              <p>An Angular application to calculate loan payments and interest owed.</p>
              <mat-chip-set class="chips" aria-label="Technologies used">
                <mat-chip>Angular</mat-chip>
                <mat-chip>Typescript</mat-chip>
                <mat-chip>JavaScript</mat-chip>
                <mat-chip>Angular Material</mat-chip>
                <mat-chip>Bootstrap</mat-chip>
              </mat-chip-set>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="MEAN Stack">
        <div class="project-set">
          <div class="project">
              <h3 class="sub-header"><a href="https://reyes-nodebucket-client.onrender.com">nodebucket</a></h3>
              <p>A task management application for employees created with Angular and Node.js.</p>
              <mat-chip-set class="chips" aria-label="Technologies used">
                <mat-chip>Angular</mat-chip>
                <mat-chip>Typescript</mat-chip>
                <mat-chip>JavaScript</mat-chip>
                <mat-chip>Angular Material</mat-chip>
                <mat-chip>SwaggerUI</mat-chip>
                <mat-chip>MongoDB</mat-chip>
                <mat-chip>Node.js</mat-chip>
              </mat-chip-set>
          </div>
          <div class="project">
              <h3 class="sub-header"><a href="https://group1-bcrs.onrender.com/">Bob's Computer Repair Shop</a></h3>
              <p>A MEAN Stack application for Bob's Computer Repair Shop.</p>
              <mat-chip-set class="chips" aria-label="Technologies used">
                <mat-chip>Angular</mat-chip>
                <mat-chip>Typescript</mat-chip>
                <mat-chip>JavaScript</mat-chip>
                <mat-chip>Bootstrap</mat-chip>
                <mat-chip>SwaggerUI</mat-chip>
                <mat-chip>MongoDB</mat-chip>
                <mat-chip>Node.js</mat-chip>
              </mat-chip-set>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
