<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo">
      <img src="assets/my-logo-2.png" height="55"/>
    </div>
    <span class="toolbar-spacer"></span>
    <div class="nav-buttons">
      <button style="color: white;" mat-button routerLink="/home">Home</button>
      <button style="color: white;" mat-button routerLink="/resume">Resume</button>
      <button style="color: white;" mat-button routerLink="/projects">Projects</button>
      <button style="color: white;" mat-button routerLink="/creative-work">Creative Work</button>
      <!-- <button style="color: white;" mat-button routerLink="/blog">Blog</button> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
