<mat-card>
  <div class="main-container">
    <h1 class="section-header">Creative Work</h1>
    <h3>Explore my collection of digital work with creations I've done both professionally and personally.</h3>
    <br>
  </div>
  <div class="row align-items-center">
    <div class="creatives col">
      <mat-card class="photo-card">
        <mat-card-header>
          <mat-card-title>Coloring Page</mat-card-title>
          <mat-card-subtitle>Personal Project</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Cat heart.jpg" alt="Photo of a cat">
        <mat-card-content>
          <p>
            Free downloadable coloring pages I created for fun!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="creatives col">
      <mat-card class="photo-card">
        <mat-card-header>
          <mat-card-title>Coloring Page</mat-card-title>
          <mat-card-subtitle>Personal Project</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Cat heart.jpg" alt="Photo of a cat">
        <mat-card-content>
          <p>
            Free downloadable coloring pages I created for fun!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="creatives col">
      <mat-card class="photo-card">
        <mat-card-header>
          <mat-card-title>Coloring Page</mat-card-title>
          <mat-card-subtitle>Personal Project</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Cat heart.jpg" alt="Photo of a cat">
        <mat-card-content>
          <p>
            Free downloadable coloring pages I created for fun!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="creatives col">
      <mat-card class="photo-card">
        <mat-card-header>
          <mat-card-title>Coloring Page</mat-card-title>
          <mat-card-subtitle>Personal Project</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Cat heart.jpg" alt="Photo of a cat">
        <mat-card-content>
          <p>
            Free downloadable coloring pages I created for fun!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="creatives col">
      <mat-card class="photo-card">
        <mat-card-header>
          <mat-card-title>Coloring Page</mat-card-title>
          <mat-card-subtitle>Personal Project</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Cat heart.jpg" alt="Photo of a cat">
        <mat-card-content>
          <p>
            Free downloadable coloring pages I created for fun!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="creatives col">
      <mat-card class="photo-card">
        <mat-card-header>
          <mat-card-title>Coloring Page</mat-card-title>
          <mat-card-subtitle>Personal Project</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Cat heart.jpg" alt="Photo of a cat">
        <mat-card-content>
          <p>
            Free downloadable coloring pages I created for fun!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="creatives col">
      <mat-card class="photo-card">
        <mat-card-header>
          <mat-card-title>Coloring Page</mat-card-title>
          <mat-card-subtitle>Personal Project</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Cat heart.jpg" alt="Photo of a cat">
        <mat-card-content>
          <p>
            Free downloadable coloring pages I created for fun!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="creatives col">
      <mat-card class="photo-card">
        <mat-card-header>
          <mat-card-title>Coloring Page</mat-card-title>
          <mat-card-subtitle>Personal Project</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Cat heart.jpg" alt="Photo of a cat">
        <mat-card-content>
          <p>
            Free downloadable coloring pages I created for fun!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="creatives col">
      <mat-card class="photo-card">
        <mat-card-header>
          <mat-card-title>Coloring Page</mat-card-title>
          <mat-card-subtitle>Personal Project</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/Cat heart.jpg" alt="Photo of a cat">
        <mat-card-content>
          <p>
            Free downloadable coloring pages I created for fun!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</mat-card>
