
@use '@angular/material' as mat;

@include mat.core();


$portfolio-v2-primary: mat.define-palette(mat.$pink-palette, 200, 300);
$portfolio-v2-accent: mat.define-palette(mat.$orange-palette, 800);


$portfolio-v2-warn: mat.define-palette(mat.$teal-palette);

$portfolio-v2-theme: mat.define-light-theme((
  color: (
    primary: $portfolio-v2-primary,
    accent: $portfolio-v2-accent,
    warn: $portfolio-v2-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));


@include mat.all-component-themes($portfolio-v2-theme);


.primary-color {
  color: mat.get-color-from-palette($portfolio-v2-primary, 300);
}

.accent-color {
  color: mat.get-color-from-palette($portfolio-v2-accent, 800);
}

.primary-background-color {
  background-color: mat.get-color-from-palette($portfolio-v2-primary, 200);
}

.accent-background-color {
  background-color: mat.get-color-from-palette($portfolio-v2-accent, 800);
}
