@import './custom-theme';

@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import 'bootstrap/dist/css/bootstrap-utilities.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Montserrat", sans-serif; }


.main-container {
  /* background-color: #EF6C00; */
  width: auto;
  padding-top: 1.5em;
  padding-bottom: 2em;
  text-align: center;
  color: #F06292;
}
.section-header { font-size: 48px;}

.accent-button {
  padding: .75em;
  color: white;
  background-color: #EF6C00;
  text-decoration: none;
}

.accent-button:hover {
  background-color: #FF9800;
}

.project-tab {
  margin: 40px 0 0 40px;
}
