<mat-card>
  <mat-card-content>
    <div class="row welcome-banner">
      <div>
        <img mat-card-image src="assets/banner.png" style="width: 80%;">
      </div>
    </div>
    <hr>
    <div class="row home-banner">
      <div class="col-12">
        <div class="text-banner">
          <h1 class="section-header" typingAnimation [typeSpeed]="50" [condition]="true" [startDelay]="1000" [hideCursorOnComplete]="true" style="display: inline-block;">Hello! My name is Tiffany</h1>
          <h2>Aspiring web developer and designer with a passion for all things creative.</h2>
          <h2>Visit my projects and resume to view my work and experience.</h2>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
