<mat-card>
  <mat-card-content>
    <div class="row welcome-banner">
      <div class="col-12 col-md-6">
        <img mat-card-image src="assets/me.png" style="width: 20%;">
      </div>
      <div class="col-12 col-md-6">
        <div class="text-banner">
          <h1 typingAnimation [typeSpeed]="50" [condition]="true" [startDelay]="1000" [hideCursorOnComplete]="true" style="display: inline-block;">Hello! My name is Tiffany</h1>
          <p>Aspiring web developer and designer with a passion for all things creative.</p>
          <p>Visit my projects and resume to view my work and experience.</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
